html, body {
    width:  90%;
    height: 90%;
    align-self: center;
    background-color: rgb(43, 43, 43);
}

.wrapper {
    width: 100%;
    text-align: center;
    position:fixed;
    z-index: 1;
    margin: 0 auto;
    margin-top: 4em;
}

#instructions {
    margin-right: 70%;
    font-family: sans-serif;
    color: white;
}

#score {
    margin-left: 70%;
    color: white;
    font-size: 4em;
}

.key {
    color: #7affca;
}

#game-over, #game-over-overlay {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
}

#game-over h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#game-over button {
    font-size: 1.5em;
}